*{
margin: 0;
box-sizing: border-box;
}
@font-face {
font-family: heshmat;
src: url(fonts/W_heshmat.ttf);
font-weight: bold;
}
@font-face {
font-family: shabnam;
src: url(fonts/Shabnam.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   background: #eee;
  }
  
  h1{
    font-size: 4rem;
    margin-bottom: 0.5em;
    font-family: heshmat;
  }
  
  h2{
    margin-top: 1em;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  
  .play-area{
    display: grid;
    box-shadow: 0 0 20px rgb(0, 139, 253 , 0.25);
    grid-template-columns: auto auto auto;
    background-color: #fff;
    padding: 20px;
  }
  
  .block{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border:  3px solid black;
    transition: background 0.25 ease-in-out;
  }
  
  .block:hover {
    cursor: pointer;
    background: #0ff30f;
  }
  
  .accupied:hover{
    background: #ff3a3a;
  }
  
  .win{
    background: #0ff30f;
  }
  
  #block_0,
  #block_1,
  #block_2
  {
    border-top: none;
  }
  
  #block_0,
  #block_3,
  #block_6
  {
    border-left: none;
  }
  
  #block_6,
  #block_7,
  #block_8
  {
    border-bottom: none;
  }
  
  #block_2,
  #block_5,
  #block_8
  {
    border-right: none;
  }
  
  button{
    outline: none;
    background:  rgb(8, 88, 208);
    padding: 12px 40px;
    font-size: 1rem;
    color: #fff;
    border: none;
    transition: all 0.2s ease-in-out;
    font-family: shabnam;
    border-radius: 0.25rem;
  }
  
  button:hover{
    cursor: pointer;
    background: green;
    color: #fff;
  }
  
  .playerWin{
    color: green;
  }
  .computerWin{
    color: red;
  }
  
  .draw{
    color: orange;
  }
  
  